/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body{
    color: #433;
}


.title{
    font-size: 1.2em;
    font-weight: bold;
}

.wrapper{
    padding: 20px;
    width: 100%;
}

.link-header{
    width: 95%;
    float: left;
    padding: 10px;
}
.link-header .title{
    text-align: center;
    clear: both;
}


.link-group{
    float: left;
    width: 30%;
    padding: 10px;
}

.link-group .title{
    border-bottom: solid 2px #777;
    clear: both;
}

.link-group .links{
    padding-left: 1.5em;

}

.link-group .link{
    list-style-type: circle;
    color: #522;
}

.clear{
    clear: both;
}

.footer{
    margin-top: 200px;
    text-align: center;
}
